# Example .env file for LinkedIn API Integration

# Your LinkedIn API Client ID
LINKEDIN_CLIENT_ID=your_client_id

# Your LinkedIn API Client Secret
LINKEDIN_CLIENT_SECRET=your_client_secret

# LinkedIn OAuth Authorization URL
LINKEDIN_AUTHORIZATION_URL=https://www.linkedin.com/oauth/v2/authorization

# Redirect URI after LinkedIn OAuth authorization
# Make sure this matches the redirect URI configured in your LinkedIn app
LINKEDIN_REDIRECT_URI=https://your-redirect-uri/callback

# LinkedIn Access Token URL
LINKEDIN_ACCESS_TOKEN_URL=https://www.linkedin.com/oauth/v2/accessToken

# Filepath where the access token will be stored
ACCESS_TOKEN_FILEPATH=access_token.json

# LinkedIn Access Token (Produced by running index.js for use in post.js & comment.js - This should be securely stored and not hardcoded in production)
LINKEDIN_ACCESS_TOKEN=your_access_token
